section .result-name {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

section h3 {
  color: #1c0a00;
  font-size: 20px;
  margin: 0;
}

div.meanings {
  color: #1c0a00;
  font-size: 13px;
  margin: 10px;
  line-height: 20px;
  text-align: left;
  text-transform: lowercase;
}

.explanation-word {
  color: #603601;
  font-family: "BIZ UDPMincho", serif;
  font-size: 13px;
  font-weight: bold;
  margin: 0 15px;
  opacity: 0.8;
}
